<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ inputRecipeSelected.imagePath }}"
      alt="{{ inputRecipeSelected.name }}"
      class="img-responsive"
      style="width: 200px; margin: 0 auto"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ inputRecipeSelected.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      (click)="toggle = !toggle"
      [ngClass]="{ open: toggle }"
    >
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToShoppingList()" style="cursor: pointer"
            >To Shopping List</a
          >
        </li>
        <li><a style="cursor: pointer">Edit Recipe</a></li>
        <li><a style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">{{ inputRecipeSelected.description }}:</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        style="width: 95%"
        class="list-group-item"
        *ngFor="let ingredient of inputRecipeSelected.ingredients"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
