<!--<input type="text" (input)="onInputData($event)" /> -->
<!-- [(ngModel)] will trigger on the input event and update the value
   of the variable in our component automatically -->
<input type="text" [(ngModel)]="serverName" />
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  (click)="onCreateServer($event)"
  [disabled]="!allowNewServer"
>
  Create Server
</button>
<p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
