<app-header
  (displayRecipeOrShoppingListener)="displaySectionHandler($event)"
></app-header>

<app-recipes *ngIf="showRecipe"></app-recipes>
<app-shopping-list *ngIf="showShoppingList"></app-shopping-list>

<!-- You may either set Property binding to an element by typing the name of the directive's property equal
   to a string enclosed in double quotation marks, or by typing the property enclosed in square brackets equal
   to a string sorrounded by double and single quotation marks.   -->
<p appBetterHighlight defaultColor="orange" [highlightColor]="'red'">
  olha eu ai de novo!
</p>
